<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <style>
        .blue{
            background:deeppink;
            color: white;
        }
        .orangered{
            background: orangered;
            color: white;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="wraper">
            <form action="">
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" id="username" 
                    v-on:input="username = $event.target.value">
                    <span>{{username}}</span>
                </div>
                <div class="form-group">
                    <label for="color">定义颜色</label>
                    <input type="text" id="color" 
                    v-on:input="colorstyle = $event.target.value">
                    <span v-bind:class="colorstyle" >{{colorstyle}}</span>
                </div>
            </form>
            <hr>
            <div class="wraper">
                <div class="demo">

                    <button class="btn" v-on:click="attack">
                        攻击
                    </button>
                    <div>
                        攻击次数<span>{{attackcount}}</span>消耗法力:<span>{{magic}}</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="wraper">
                <div class="demo">
                    <button class="btn" v-on:click="show=!show">显示/隐藏(详细信息)</button>
                    <p v-if="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla esse reprehenderit voluptas, eveniet eum nam itaque quidem perspiciatis voluptatibus maiores laboriosam laudantium unde ipsum animi omnis iusto dolores cupiditate. Accusamus!</p>
                    <p v-else>简单信息</p>
                </div>
            </div>
            <hr>
            <div class="wraper">
                <div class="demo">
                    <div class="list">

                    <div class="list_title center">员工列表</div>
                    <div class="list_body">
                        <ul>
                            <li v-for="(employee, index) in employeelist">
                                {{index}} - <span>{{employee.name}}</span>
                                <span>{{employee.age}}</span>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="lessonOne/index.js"></script>
</body>
</html>